{% extends "layout.html" %}

{% block header %}
<div class="menu_item">
    <a href="doctors">
        Doctors
    </a>
</div>
<div class="menu_item">
    <a href="patients">
        Patients
    </a>
</div>
{% endblock %}

{% block title %}
Creating new doctor record
{% endblock %}

{% block body %}

<div class="person_data_edit">
    <form action="/new_doctor" method="post">
        <table class="table">
            <tr>
                <td>First name</td>
                <td><input type="text" name="first_name" placeholder="John" size="30" required autofocus></td>
            </tr>
            <tr>
                <td>Last Name</td>
                <td><input type="text"name="last_name" placeholder="Doe" size="30" required></td>
            </tr>
            <tr>
                <td>Grade</td>
                <td><input type="text" name="grade" placeholder="MD" size="30" required></td>
            </tr>
            <tr>
                <td>Specialization</td>
                <td><input type="text" name="specialization" placeholder="Therapeutist"size="30" required></td>
            </tr>
            <tr>
                <td>email</td>
                <td><input type="email" name="email" placeholder="john@email.com" size="30" required></td>
            </tr>
        </table>

        
        <button id="button_save" type="submit">SAVE</button>
    </form>
    
</div>    
{% endblock %}